body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url("images/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

#mainContainer{
    display: grid;
    grid-template-rows: 2fr 12fr 1fr;
    grid-area: 1 1;
}

#header{
    display: grid;
    grid-row-start: 1;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fdfd96;
    font-size: large;
    
}

#header button{
    color: #fdfd96;
    background-color: #573b27;
    border-radius: 10px;
    border-style: none;
    width: 100px;
    height: 40px;
    font-size: large;
    justify-self: center;
    margin:10px;
}

#librarybody{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-start: 2;
    justify-content: center;
    line-height: 3;
    margin: 20px;
    gap: 50px;
    
    
    
    
}

.book{
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #573b27;
    color: #fdfd96;
    height: 300px;
    width: 200px;
    background-image: url("images/bookcover.jpg");
    background-size: cover;
    border-left: 10px solid rgb(1, 46, 1);
    border-radius: 15px;

}

.book img{

}

#librarybody img{
    
    max-width: 100%;
    height: auto;
}

#librarybody #bookModal{
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 45%;
    overflow: auto;
    background-color:#573b27;
    color: #fdfd96;
    
}

#bookForm{
    display: grid;
    
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 10px;

    
    
}

#footer{
    grid-row-start: 3;
    
}